{{template "base" .}}
{{define "title"}} Cтатья {{end}}
{{define "css" }}
    <link rel="stylesheet" href="/static/css/article.css">
{{end}}
{{define "main"}}
    <div class="container" id="news">
        {{range .Articles}}
            <div class="row mb-4" >
                <div class="col-md">
                    <img src="/static/img/articleImg1.jpg" class="articleImg img-fluid" alt="">
                </div>
            </div>
            <div class="row mb-4" >
                <div class="col-md">
                    <h2>{{.Title}}</h2>
                </div>
            </div>
            <div class="row mb-4" >
                <div class="col-md">
                    <p>{{.Text}}</p>
                </div>
            </div>
        {{else}}
            <h1>not found</h1>
        {{end}}
    </div>
{{end}}