{{define "footer"}}
<div class="custom-footer-container">
    <footer class="custom-footer">
        <div class="footer-logo">
            <a href="/" class="text-decoration-none">
                <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
            </a>
        </div>
        <div class="footer-text">
            <p>&copy; 2024 Company, Inc</p>
        </div>
        <div class="footer-social">
            <ul class="list-unstyled d-flex">
                <li><a href="#" class="text-muted"><i class="fab fa-instagram"></i></a></li>
                <li><a href="#" class="text-muted"><i class="fab fa-facebook"></i></a></li>
                <li><a href="#" class="text-muted"><i class="fab fa-youtube"></i></a></li>
            </ul>
        </div>
    </footer>
</div>
{{end}}
