{{template "base" .}}
{{define "title"}}Главная{{end}}
{{define "css" }}
    <link rel="stylesheet" href="/static/css/home.css">
{{end}}
{{define "main"}}
        <div class="container" id="news">
            {{range .Articles}}
                <div class="row" id="article">
                    <div class="col-md-3">
                        <img src="/static/img/articleImg1.jpg" class="articleImg" alt="">
                    </div>
                    <div class="col-md-9">
                        <a href="/article?id={{.ID}}"><h2>{{.Title}}</h2></a>
                        <p>{{.Text}}</p>
                    </div>
                    <div class="row mb-4" >
                        <div class="col-md">
                            <span id="publicationDate">Дата публикации: {{.FormattedDate}}</span>
                        </div>
                    </div>
                </div>

            {{else}}
                <h1>not found</h1>
            {{end}}
        </div>

{{end}}