{{template "base" .}}
{{define "title"}}Войти{{end}}
{{define "css" }}
    <link rel="stylesheet" href="/static/css/login.css">
{{end}}
{{define "main"}}
   <div class="container-sm" id="registrationForm">
       <form action="/auth/login" method="post">
           <div class="mb-3">
               <label for="exampleInputEmail1" class="form-label">Email address</label>
               <input type="email" class="form-control" name="email">
           </div>
           <div class="mb-3">
               <label for="exampleInputPassword1" class="form-label">Password</label>
               <input type="password" class="form-control" name="password">
           </div>
           <button type="submit" class="btn btn-primary">Войти</button>
           <br>
           <a href="/auth/register">Регистрация</a>
       </form>
   </div>
{{end}}