
.articleImg{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#news p {
    font-size: 18px;
    max-height: 150px;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

#news h2{
    font-size: 26px;
    font-weight: 700;
}

#publicationDate{
    font-style: italic;
}
